# define: USER PROJECT PROJECT_DIR PATH
# adapted from https://docs.gunicorn.org/en/stable/deploy.html#systemd
[Unit]
Description=Gunicorn instance to serve $PROJECT
After=network.target
Type=forking

[Service]
User=$USER
Group=www-data
WorkingDirectory=$PROJECT_DIR
Environment=PATH="$PATH"
ExecStart="$ExecStart"
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
